<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Income Details</title>
</head>
<body>
    <div id="income-form">
        <h2>Income Details</h2>
        <form method="post">
            <label for="income_from_salary">Income from Salary</label>
            <input type="text" id="income_from_salary" name="income_from_salary"><br>
            
            <label for="income_from_interest">Income from Interest</label>
            <input type="text" id="income_from_interest" name="income_from_interest"><br>

            <label for="rental_income_received">Rental Income Received</label>
            <input type="text" id="rental_income_received" name="rental_income_received"><br>

            <label for="income_from_digital_assets">Income from Digital Assets</label>
            <input type="text" id="income_from_digital_assets" name="income_from_digital_assets"><br>

            <label for="other_income">Other Income</label>
            <input type="text" id="other_income" name="other_income"><br>

            <label for="exempt_allowances">Exempt Allowances</label>
            <input type="text" id="exempt_allowances" name="exempt_allowances"><br>

            <label for="interest_home_loan_self_occupied">Interest on Home Loan- Self occupied</label>
            <input type="text" id="interest_home_loan_self_occupied" name="interest_home_loan_self_occupied"><br>

            <label for="interest_home_loan_let_out">Interest on Home Loan- Let Out</label>
            <input type="text" id="interest_home_loan_let_out" name="interest_home_loan_let_out"><br>

            
            
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
